<div class="login-container">
  
  <mat-card class="login-card">
    
    <div class="card-header">
      <img src="CampoFutbol.jpg" alt="Deportes Master">
      <div class="header-overlay">
        <div class="logo-circle">
          <mat-icon>school</mat-icon>
        </div>
      </div>
    </div>

    <mat-card-header class="text-center">
      <mat-card-title>Portal de Deportes</mat-card-title>
      <mat-card-subtitle>Acceso Alumnos y Profesores</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form #loginForm="ngForm" class="login-form">
        
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nombre de Usuario</mat-label>
          <input matInput #cajausername name="cajausername" type="text" placeholder="Ej. jperez">
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput #cajapassword name="cajapassword" type="password" placeholder="******">
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>

        <button mat-raised-button 
                color="primary" 
                (click)="login()" 
                class="login-btn"
                [disabled]="isLoading">
          
          <span *ngIf="!isLoading">INGRESAR</span>

          <div *ngIf="isLoading" class="loading-content">
             <img src="loading.gif" alt="Cargando..." class="spinner-gif">
             <span>Entrando...</span>
          </div>

        </button>

        <p *ngIf="errorMessage" style="color: red; text-align: center; margin-top: 10px;">
          {{ errorMessage }}
        </p>

      </form>
    </mat-card-content>

    <mat-card-footer>
      <p>© 2026 Centro Educativo - Máster Deportivo</p>
    </mat-card-footer>

  </mat-card>
</div>