<nav class="navbar navbar-dark" style="background-color: #1e88e5; padding: 1.5rem 0;">
  <div class="container d-flex align-items-center">
    <img src="escudo-negativo-recortado.png" style="height: 70px; margin-right: 60px;" />
    <a class="navbar-brand fw-bold fs-4" [routerLink]="['/']" id="tituloEncabezado">
      Competiciones Deportivas Tajamar
    </a>
    <ul class="navbar-nav flex-row mx-auto">
      <li class="nav-item mx-3">
        <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home" style="font-size: 35px; width: 35px; height: 35px;"></mat-icon>
        </a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link" [routerLink]="['/perfil']">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person" style="font-size: 35px; width: 35px; height: 35px;"></mat-icon>
        </a>
      </li>
    </ul>
    <button class="btn btn-outline-danger" (click)="cerrarSesion()">Cerrar Sesion</button>
  </div>
</nav>
