<nav class="navbar custom-navbar">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center brand-section">
      <img src="escudo_tajamar.png" class="navbar-logo" alt="Escudo Tajamar" [routerLink]="['/']" />

      <a class="navbar-brand" [routerLink]="['/']">
        <span class="brand-title">Competiciones</span>
        <span class="brand-subtitle">Deportivas Tajamar</span>
      </a>
    </div>

    <ul class="navbar-nav d-flex flex-row align-items-center gap-4 mx-auto">
      <li class="nav-item">
        <a
          class="nav-link-custom"
          [routerLink]="['/']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <div class="nav-box" matTooltip="Inicio">
            <mat-icon fontIcon="home"></mat-icon>
          </div>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link-custom" [routerLink]="['/perfil']" routerLinkActive="active">
          <div class="nav-box" matTooltip="Mi Perfil">
            <mat-icon fontIcon="person"></mat-icon>
          </div>
        </a>
      </li>
    </ul>

    <button class="logout-btn" (click)="cerrarSesion()">
      <mat-icon class="me-2">logout</mat-icon>
      <span>Salir</span>
    </button>
  </div>
</nav>
